# https://blog.hostvn.net/chia-se/htaccess-la-gi-cach-cau-hinh-htaccess-can-ban.html
# Ngăn việc hiện các tập tin trong thư mục
Options -Indexes.

# https://stackoverflow.com/questions/25275273/option-multiviews-inside-htaccess-file
# runs before mod_rewrite and and makes Apache server match extensions of files. So /file can be in URL but it will serve /file.php.
Options -MultiViews


RewriteEngine On

RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSQ,L]