# https://blog.hostvn.net/chia-se/htaccess-la-gi-cach-cau-hinh-htaccess-can-ban.html
# Ngăn việc hiện các tập tin trong thư mục
# Options -Indexes

# https://stackoverflow.com/questions/25275273/option-multiviews-inside-htaccess-file
# runs before mod_rewrite and and makes Apache server match extensions of files. So /file can be in URL but it will serve /file.php.
Options -MultiViews


RewriteEngine On

RewriteBase /

# https://stackoverflow.com/a/41516968
# Stop processing if already in the /public directory
RewriteRule ^public/ - [L]
RewriteRule ^favicon.ico - [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# https://help.dreamhost.com/hc/en-us/articles/215747748-How-can-I-redirect-and-rewrite-my-URLs-with-an-htaccess-file-
# Automatically loading a subdirectory
RewriteRule /app/ /dashboard/  [QSA,L]

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]